.banner {
  box-sizing: border-box;
  width: 75%;
  background: rgb(223, 61, 61);
  position: absolute;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
  color: white;
  font-family: 'Source Sans Pro';
  text-align: center;
  transition: all 0.5s;
}
